name: Default

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby 2.6
      uses: actions/setup-ruby@v1
      with:
        ruby-version: 2.6.x
    - uses: actions/cache@v1
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: ${{ runner.os }}-gems-
    - name: Install Bundler
      run: gem install bundler
    - name: Configure Bundler
      run: bundle config path vendor/bundle
    - name: Bundle Install
      run: bundle install --jobs 4 --retry 3
    - name: Build
      run: bundle exec rake build
    - name: Upload Artifact
      uses: actions/upload-artifact@v1
      with:
        name: eufycam-0.1.0.gem
        path: eufycam-0.1.0.gem
  # lint:
    # name: Lint
    # runs-on: ubuntu-latest
#
    # steps:
    # - uses: actions/checkout@v2
    # - name: Set up Ruby 2.6
      # uses: actions/setup-ruby@v1
      # with:
        # ruby-version: 2.6.x
    # - name: Rubocop
      # run: |
        # gem install bundler
        # bundle install --jobs 4 --retry 3
        # bundle exec rubocop

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: [build]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby 2.6
      uses: actions/setup-ruby@v1
      with:
        ruby-version: 2.6.x
    - uses: actions/cache@v1
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: ${{ runner.os }}-gems-
    - name: Install Bundler
      run: gem install bundler
    - name: Configure Bundler
      run: bundle config path vendor/bundle
    - name: Bundle Install
      run: bundle install --jobs 4 --retry 3
    - name: Run RSpec
      run: bundle exec rake spec

  release:
    name: Release
    runs-on: ubuntu-latest
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}
    needs: [test]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby 2.6
      uses: actions/setup-ruby@v1
      with:
        ruby-version: 2.6.x
    - name: Install Bundler
      run: gem install bundler
    - name: Bundle 
      run: bundle install --jobs 4 --retry 3
    - uses: actions/download-artifact@v1
      with:
        name: eufycam-0.1.0.gem
        path: /eufycam-0.1.0.gem
    - run: mv /eufycam-0.1.0.gem/eufycam-0.1.0.gem .
    - run: ls 
    - name: Push Gem to Rubygems
      run: bundle exec rake release[rubygems]
    - name: Push Gem to Github Package Registry
      run: bundle exec rake release[github]
